@CHARSET "UTF-8";

.table{margin-top:50px; width:603px; background:#ff3232; text-align: center; height:35px; font-size:18px; color:white; border:1px solid #666666;}
.title{width:200px; background:#ff3232; text-align: center; height:35px; font-size:18px; color:white; border:1px solid #999999;}
.content{width:200px; background:#ff3232; text-align: center; height:300px; font-size:18px; color:white;border:1px solid #999999;}
.writer{width:200px; background:#ff3232; text-align: center; height:35px; font-size:18px; color:white; border:1px solid #999999;}
.color{width:400px; background:#ffffff; color:#333333;}
.btn{width:150px; height:35px; float:right; overflow:hidden; margin:20px 15px 20px 0; font-size:18px;}